html
head
title= title
link(rel='stylesheet', type='text/css', href='bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='accueil.css')
body

div(class="container-fluid bg-gris")
  h1(class="text-center text-uppercase") promo simplon carcassonne 01

div(class="container")
  div(class="row")
    div(class="col-xs-12")
      div(class="col-xs-6")
        img(src="occitane.JPG")
      div(class="col-xs-2 col-xs-offset-3")
        a(href="https://simplon.co/"): img(class="simplon" src="simplon.png")
  div(class="row")
    div(class="col-xs-12 text-center text-capitalize")
      p: a(href="list") accéder a la liste des apprenants de la promo carcassonne 01
