html
head
title= title
link(rel='stylesheet', type='text/css', href='bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='style.css')
body

div(class="container-fluid bg-gris")
  h1(class="text-center text-uppercase") promo simplon carcassonne 01

div(class="container marge-top")
  div(class="col-xs-12 text-center")
    a(href="accueil") revenir à l'accueil


- var tableau = ["valentin van eersel", "jeanne tiramani", "christopher fourgeaud", "nassim cheurfa", "jimmy bouvier", "julien febvre", "nicolas tiraboschi", "christophe juin", "isabel costanzo", "rithisen pan", "isabelle muckensturm", "mickael pol", "leo subias", "aurelie lecoq", "michael legrand"];
div(class="container")
 div(class="col-xs-12")
  ul
   - for(var i = 0; i < tableau.length; i++){
    - var tab = tableau[i];
      div(class="col-xs-2")
       li: a(href="#" id=tab)=tab
        img(src="http://lorempixel.com/400/200/")
        -}


