body {
	background-color: #080808;
	margin:0;
	padding:0;
	font-size: 16px;
}
.bg-gris {
	background-color: #8C8C8C;
	color: #B3B3B3;
	box-shadow: 1px 10px 10px #B3B3B3;
	text-shadow: 1px 10px 10px #080808;
}
img {
	width: 600px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #B3B3B3;
}
.simplon {
	width: 250px;
	height: 150px;
}
.row {
	margin-top: 60px;
	margin-bottom: 60px;
}
a {
	text-decoration: none;
	color: #8C8C8C;
	cursor: pointer;
	text-shadow:1px 10px 10px #B3B3B3;
}
a:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
 }